<div class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Add Product</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Seller Register</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Seller List</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
